:root {
    --bkg: hsla(0, 0%, 0%, 0.250);
    --brightgreen: hsl(96, 100%, 50%);
    --lightgreen: hsla(160, 92%, 59%, 0.850);
    --darkgreen: hsla(88, 100%, 25%, 0.750);
    --blue: hsla(202, 100%, 50%, 0.750);
    --dark: hsl(230, 39%, 12%);
    --cyan: hsl(175, 100%, 49%);
    --violet: hsl(270, 100%, 30%);
    --red: hsl(0, 100%, 50%);
    --golden: hsl(51, 100%, 50%);
    --white: hsl(60, 100%, 100%);
    --hover: hsla(88, 100%, 35%, 0.800);
}

body {
    background-image: url(https://i.ibb.co/BVZDpPm/photo-1475070929565-c985b496cb9f.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.design {
    font-weight: bold;
    text-align: center;
    backdrop-filter: blur(5px);
    background-color: var(--bkg);
    border-radius: 20px;
    padding: 20px;
    width: 60%;
}

#digitalClock {
    font-family: monospace;
    font-size: 6.5rem;
    color: var(--lightgreen);
    text-shadow: 5px 5px 10px var(--dark);
}

#date {
    font-family: cursive;
    font-size: 3.5rem;
    color: var(--blue);
    text-shadow: 5px 5px 10px var(--dark);
}

#analogClock {
    display: grid;
    place-items: center;
    gap: 2rem;
    color: var(--white);
}

.clockface {
    filter: drop-shadow(2px 10px 10px var(--dark));
}

.ring--seconds {
    fill: transparent;
    stroke: var(--cyan);
    stroke-width: 6;
    stroke-dasharray: .1 .9;
    stroke-dashoffset: .05;
}

.ring--hours {
    fill: transparent;
    stroke: var(--brightgreen) ;
    stroke-width: 10;
    stroke-dasharray: .05 .95;
    stroke-dashoffset: .025;
}

.ring--center {
    fill: var(--dark);
    stroke: var(--red);
    stroke-width: 3.7;
}

.hand--second {
    stroke: var(--red);
    stroke-linecap: round;
    stroke-width: 2;
    z-index: 999;
}

.hand--minute {
    stroke: var(--violet);
    transform: rotate(93deg);
    stroke-linecap: round;
    stroke-width: 5;
}

.hand--hour {
    transform: rotate(45deg);
    stroke-width: 6;
    stroke-linecap: round;
    stroke: var(--golden);
}

.am-pm {
    fill: var(--blue);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.numbers {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 25px;
    fill: var(--blue);
    text-shadow: 5px 5px 10px var(--dark);
}


button {
    background-color: var(--darkgreen);
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-family: Helvetica;
    color: var(--white);
    box-shadow: 0px 0px 20px 10px var(--dark);
    text-shadow: 0px 0px 20px var(--dark);
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover);
    box-shadow: 0px 0px 1px 0px var(--white);
}